.contact {
  padding: 60px 0;
  background: #fff;
}

.contact-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  gap: 40px;
}

.contact-info {
  width: 35%;
  background: #f9f9f9;
  padding: 30px;
}

.info-box {
  margin-bottom: 30px;
}

.info-box h3 {
  margin: 10px 0;
  font-size: 18px;
}

.info-box p {
  font-size: 14px;
  color: #666;
}

.info-box span {
  display: block;
  font-size: 14px;
  margin-top: 5px;
}

.icon .mail {
  width: 40px;
  height: 40px;
  background: #db4444;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 18px;
}
.icon .phone {
  width: 40px;
  height: 40px;
  background: #db4444;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 18px;
}

.contact-form {
  width: 65%;
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.form-row input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ddd;
  outline: none;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px;
  border: 1px solid #ddd;
  resize: none;
  margin-bottom: 20px;
}

.contactbtn {
  background: #db4444;
  color: #fff;
  border: none;
  padding: 14px 30px;
  cursor: pointer;
  font-size: 14px;
}
