.home .hero .container li {
  list-style: none;
}

.home .hero .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.home .hero .container ul {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 30px;
}
.product-grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}
.teeam .container {
  text-align: center;
  margin-bottom: 90px;
  margin-top: 10px;
  background-color: orangered;
  width: 28%;
  padding: 1px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
.teeam .container:hover {
  transform: scale(1.1);
  background-color: #ff7a00;
  box-shadow: 30px 30px 7px 7px black;
}

.today-btn {
  position: relative;
  padding: 12px 30px;
  font-size: 14px;
  font-weight: 600;
  color: #ff7a00;
  background: transparent;
  border: 2px solid #ff7a00;
  border-radius: 6px;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.4s ease;
  width: 170px;
  text-align: start;
  margin-bottom: 30px;
  margin-top: 40px;
}

.today-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #ff7a00;
  z-index: -1;
  transition: width 0.4s ease-in-out;
}

.today-btn:hover::before {
  width: 100%;
}

.today-btn:hover {
  color: #fff;
}

.background_picture {
  height: 500px;
  width: 100%;
  margin-bottom: 100px;
  margin-top: 30px;
}


.row{
    padding: 20px 15px ;
    border: 2px solid black;
    width: 120px;
    
    text-align: center;
}
.rows{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;

    margin-bottom: 100px;
    margin-top: 60px;
}
.womanspicture{
    margin-bottom: 100px;
    margin-top: 90px;
}

